@import 'variables';

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin reset() {
  margin: 0;
  padding: 0;
}

@mixin reset-list() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin reset-link() {
  color: $bunker;
  text-decoration: none;
}