@import '../variables';
@import '../mixins';

.main-socials-menu {
  @include reset-list();
}

.main-socials-menu__item {
  margin-top: 24px;

  text-align: end;
}

.main-socials-menu__link {
  @include reset-link();

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}